<html>
<head><title>Confirmation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3mobile.css">
</head>
<body>
<div class="w3-container">
  <h1 style="text-align: center;">Doorman</h1>
</div>

<div class="w3-cell-row">
  <div class="w3-cell">
    
  </div>
  <div class="w3-cell w3-container">
<form action="/" method="GET">
<div>
<div style="text-align: center;">Code sent.</div>
<input type="submit" value="Send Again"  style="width: 100%; border: 4px; padding: 4px; margin: 4px;">
</div>
</form>
  </div>
</div>
</body>
</html>